<div class = "container">
  <div class = "row">
    <div class = "col-12 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
      <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
        <% @book.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_with model:@book, local:true do |f| %>
      <div class = "form-group">
        <label>Title</label>
        <div><%= f.text_field :title %></div>
      </div>
      <div class = "form-group">
        <label>Opinion</label>
        <div><%= f.text_area :body %></div>
      </div>
      <div class = "form-group">
        <button type="submit" class="btn btn-success">Update Book</button>
        <!--<%= f.submit "Update Book" %>-->
      </div>
      <div>
        <%= link_to "Show", book_path(@book.id) %><span>｜</span><%= link_to "Back", books_path %>
      </div>
      <% end %>
    </div>
  </div>
</div>